<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- room number Column -->
    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef> Room Number </th>
      <td mat-cell *matCellDef="let item"> {{item.roomNumber}} </td>
    </ng-container>
  
    <!-- service Column -->
    <ng-container matColumnDef="Service">
      <th mat-header-cell *matHeaderCellDef> Service </th>
      <td mat-cell *matCellDef="let item"> {{item.service}} </td>
    </ng-container>
  
    <!-- created at Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let item"> {{item.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
