<div class="morespace" >
    <div class="marginone">
    <br>
    <p> Room Number</p>
    </div>
    <div class="example-container">
    <mat-form-field appearance="outline">
    <input matInput placeholder="Room Number" [(ngModel)]="roomNumber" >
    </mat-form-field>

    <p> Service</p>
    <mat-form-field appearance="outline">
    <textarea matInput placeholder="Textarea"  [(ngModel)]="service"></textarea>
    </mat-form-field>
    

    <p> created At </p>
    <mat-form-field appearance="outline">
    <textarea matInput placeholder="Textarea"  [(ngModel)]="createdAt"></textarea>
    </mat-form-field>
    </div>
                    
    <br>
    <div class="example-container">
    <button mat-raised-button color="primary" (click)="AddService()">Add</button>
    </div>
    </div>
    