
 <mat-tab-group>
    <mat-tab label="Display Services">
    
    <app-booker-display></app-booker-display>
    
    
    </mat-tab>
    
    
    <mat-tab label="Delete">
    
        <app-delete-booker></app-delete-booker>
        
        
        </mat-tab>
        
    
        <mat-tab label="Add Booker">
    
            <app-booker-add></app-booker-add>
            
            
            </mat-tab>
            
        
            <mat-tab label="Update">
    
                <app-update-booker></app-update-booker>
                
                
                </mat-tab>
        
        
                <mat-tab label="Display Feature">
    
                    <app-booker-display-feat></app-booker-display-feat>
                    
                    
                    </mat-tab>
            
                
</mat-tab-group>