 <mat-tab-group>

              
            <mat-tab label="Update">
               
                        <update></update>
                  
                  </mat-tab>

            <mat-tab label="Single Item">
            
            <app-add-single></app-add-single>
            
            
            </mat-tab>
            
                                  
            
            <mat-tab label="Bulk Items"> 
            
            <app-bulck-add></app-bulck-add>
            
            </mat-tab>
            
            <div class="bulkmargin">
            <mat-tab label="Display Menu"> 
            
            <app-menu-display></app-menu-display>
            
            </mat-tab>
            
            <mat-tab label="Delete">
            <app-delete-menu></app-delete-menu>
            
            </mat-tab>

            
            
            </div>
            
</mat-tab-group>