<h2 mat-dialog-title>{{description}}</h2>
<mat-dialog-content >

      
            <!-- <div *ngFor="let item of tempdata.toBill[0].listItem">{{item.name}} <vr> {{item.price}}<vr> {{item.qty}}</div>
          -->

               <table>
                     <tr>
                       <th>Name</th>
                       <th>price</th>
                       <th>qty</th>
                       <th>TOTAL</th>
                     </tr>
                     <tr *ngFor="let item of tempdata.toBill[0].listItem">
                       <td>{{item.name}}</td>
                  <td>{{item.price}} X</td>
                       <td>{{item.qty}}</td>
                       <td>{{item.qty *  item.price}}</td>
                     
                     </tr>
                   </table>
                   
                  <h2> GRAND TOTAL:    {{sum}} </h2>
                   

   <!-- <mat-form-field appearance="outline">

                     <mat-label>Select Section</mat-label>
                     <mat-select [(ngModel)]="selectedOption" (selectionChange)="changeClient($event.value)">
                       <mat-option *ngFor="let food of sections" [value]="updateData.itemSection">
                         {{food}}
                       </mat-option>
                     </mat-select>

   </mat-form-field> -->


  
</mat-dialog-content>
<mat-dialog-actions>
   <button class="mat-raised-button"(click)="close()">Close</button>
   <button class="mat-raised-button mat-primary"(click)="close()">Paid</button>
</mat-dialog-actions>